<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>THE DUNGEON</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-buttons>
        <ion-button>PLAY</ion-button>
        <ion-button (click)='openOptions()'>OPTIONS</ion-button>
        <ion-button>SAVES</ion-button>
    </ion-buttons>
  </ion-content>
  
  <ion-footer>
    <ion-list>
      <ion-item>Github</ion-item>
      <ion-item>Linkedin</ion-item>
      <ion-item>Instagram</ion-item>
    </ion-list>
  </ion-footer>
</ion-app>
