<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>THE DUNGEON</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-buttons>
        <ion-button (click)="openGame()">PLAY</ion-button>
        <ion-button (click)='openOptions()'>OPTIONS</ion-button>
        <ion-button>SAVES</ion-button>
    </ion-buttons>
  </ion-content>
  
  <ion-footer>
    <ion-list>
      <ion-item href='https://github.com/GustavoFerrazRocha' target='blank'>
        <ion-icon name="logo-github"></ion-icon>
        <span>Github</span>
      </ion-item>
      <ion-item href='https://www.linkedin.com/in/gustavoferrazrocha/' target='blank'>
        <ion-icon name="logo-linkedin"></ion-icon>
        <span>Linkedin</span>
      </ion-item>
      <ion-item href='https://www.instagram.com/gustavoferraz.js/' target='blank'>
        <ion-icon name="logo-instagram"></ion-icon>
        <span>Instagram</span>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-app>
